#root {
  max-width: 1024px;
  width: 100%;
  padding: 2rem;
}

.modal-actions {
  padding: 0 25px 25px 25px;
  .actions-button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    font-weight: bold;
    height: 40px;
    padding: 0 10px;
    border-radius: 10px;

    &.close {
      background-color: #ff0000;
    }

    &.submit {
      background-color: #25ff00;
    }

    &.info {
      background-color: #005fff;
    }

    &.disabled {
      background-color: rgba(0, 0, 0, 0.33);
      cursor: default;
    }
  }
}