.project-list-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 50px;

  h1 {
    margin: 15px 0;
  }

  .project-list-content {
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  .project-list-not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;

    p {
      font-weight: bold;
    }

    img {
      width: 160px;
    }
  }

  .project-list-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    p {
      margin: 0;
    }
  }
}

@media (min-width: 1024px) {
  .project-list-container {
    width: 100%;

    .project-list-header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .project-list-content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;

      &.has-few {
        display: flex;
        flex-direction: column;
      }
    }

    .project-list-content > * {
      box-sizing: border-box;
    }
  }
}